/* El caracter ~ indica que estos selectores estaán separados por espacios */

article[class~="resaltado"] {
    border: 1px dashed darkgoldenrod;
}

article[class~="archivo"] {
    border: 1px dashed darkred;
}

article[class~="ingles"] {
    border: 1px dashed darkseagreen;
}


/* p donde el padre directo es un div / sólo hijos directos del div */


/* Selector de secundarios. Selecciona solamente las <p> que se encuentran inmediatamente
después del <div> */

div>p {
    color: darkcyan;
}


/* Todos los elementos <p> dentro de un div, serán seleccionados */

div p {
    color: darkred;
}


/* El atributo class/id es una lista de valores separados por guiones -  */

article[class|="ingles"] {
    border: 1px solid darkcyan;
    text-align: center;
}


/* Imagen con atributo alt */

img[alt] {
    border: 5px solid rgb(114, 168, 202);
}


/* Imagen con atributo src cadena exacta */

img[src="img/HTML5logo.png"] {
    width: 100px;
}


/* ^ circunflejo. Imagen con atributo src con el inicio de la cadena */

img[src^="img/"] {
    background: black;
}


/* Imagen con atributo src con png al final de la cadena */

img[src$="png"] {
    width: 150px;
}


/* Imagen con atributo src con png en cualquier parte de la cadena */

img[src*="mg/"] {
    width: 100px;
}


/* El siímbolo de + significa -> el siguiente, hermano adyacente */

h2+p {
    color: rgb(24, 63, 136);
}


/* Todos los elementos p que siguen de h2, hermano general */

h2~p {
    color: goldenrod;
}


/* Poner color a todas las secciones excepto una */

section:not(#referencias) {
    color: dodgerblue;
}


/* Todos los impares: odd, pares: even o el nuúmero de elemento de la lista */

li:nth-child(odd) {
    color: darkviolet;
}

li:nth-child(even) {
    color: rgb(204, 97, 48);
}

li:nth-child(4) {
    color: deepskyblue;
}


/* 1: Primero elemento del final hacia arriba*/

li:nth-last-child(2) {
    color: darkblue;
}


/* De arriba hacia abajo :p */

li:nth-child(2) {
    color: darkblue;
}

ul~p::first-line {
    color: brown;
}

ul~p::first-letter {
    font-weight: bold;
}