body {
	/*background-color: blue;*/
	/*background-color: rgba(155,155,0,0.5);*/
	/*background-color: tomato;*/
	/*background-color: peru;*/
	/*background-color: hotpink;*/
	background-color: #00b2dae0;
	color: white;
}

header {
	border: 1px solid white;
	border-radius: 5px; 
	text-align: center;
}

footer {
	border: 1px dashed rgba(0,0,0,0.2);
	border-radius: 5px;
	font-weight: bold;
	padding: 50px;
	text-align: center;
}

header nav ul li {
	background-color: orange;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	display: inline-block; /* Quita el 100 % y se ajusta a su contenido */
	margin-right: 20px; 
	/*margin: 0px 20px 0px 0px; es igual al de arriba */
	padding: 10px 20px;
	width: 90px;
}

header nav ul li:hover {
	background-color: rgba(0,0,0,0.5);
	border: 1px solid orange;
	border-radius: 5px;
	display: inline-block; /* Quita el 100 % y se ajusta a su contenido */
	margin: 0px 20px 0px 0px;
	padding: 10px 20px;
	width: 90px;
}

main {
	margin-top: 20px;
}

main article {
	border: 1px dashed rgba(0,0,0,0.2);
	border-radius: 5px;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
	width: 31%;
}